
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(rgb(184, 233, 203), rgb(164, 187, 181));
  align-items: center;
  margin: 0;
  font-family: "DynaPuff", cursive;
}
h1 {
  background-color: rgb(21, 65, 31);
  color: white;
  margin: 0;
  padding: 8px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
#clickme {
  width: 250px;
  align-items: center;
  margin: 10px;
  padding-bottom: 5px;
  width: 18%;
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
}
#clickme {
  width: 18.4%;
}
#cookie {
  margin: 25px;
}
h2 {
  text-align: center;
  padding-top: 30%;
}
table {
  border: 1px solid;
  background-color: darkcyan;
  position: absolute;
  bottom: 0px;
  width: 34%;
  text-align: center;
  border-radius: 10px;
}
td {
  background-color: lightcyan;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
}

#box {
  background-color: rgb(184, 233, 203);
  border-radius: 25px;
  position: absolute;
  align-items: center;
  text-align: center;
  margin-top: 380px;
  padding: 12px;
}
button {
  padding: 7px;
  margin: 4px;
  border-radius: 12px;
  background-color: antiquewhite;
  border-color: brown;
  font-family: "DynaPuff", cursive;
}
#micro1 {
  padding: 10px;
  position: absolute;
  margin-top: 39%;
}
#info {
  position: absolute;
  margin-top: 42%;
}
#cat {
  position: absolute;
  margin-top: 22.4%;
  margin-right: 6.6%;
}
#cat1 {
  position: absolute;
  margin-top: 22.9%;
  margin-left: 6.6%;
}
#cat2 {
  position: absolute;
  margin-top: 20%;
  margin-right: 20%;
}
